html,
body {
    background-color: #EFEFF4;
    overflow-x: hidden;
    font-size: 15px;
}

#navbar {
    display: block;
    color: white;
    font-weight: 400;
    text-align: center;
    height: 44px;
    line-height: 44px;
    width: 100vw;
    background-color: #3F395a;
    position: fixed;
    z-index: 1000;
}

#session-button {
    text-align: right;
    float: right;
    position: fixed;
    z-index: 1001;
    right:15px;
}



#reviewed {
    background:#D31C5B;
    color:rgba(255,255,255,.9);
    font-size:10px;
    text-align: center;
    display: block;
    width: 100vw;
    margin-left: -15px;
    padding-left:7px;
    height:20px;
    line-height: 20px;
    text-transform: uppercase;
    margin-bottom:-20px;
}

#date {
    display:block;
    font-size: 24px;
    font-weight: 600;
    margin-top: 24px;
    vertical-align: middle;
    text-align: center;
    line-height: 24px;
}

.container-fluid {
    background: #EFEFF4;
    margin-top: 44px;
}

.fa-chevron-right{
    float: right;
    margin-top:2px;
    color: #3F395A;
    text-align: right;
}

.fa-chevron-left {
    float:left;
    margin-top:2px;
    color: #3F395a
}

h3 {
    color: #8e8e93;
    text-transform: uppercase;
    font-size: 12px;
    margin-top: 24px;
}

textarea {
    margin-left: -15px;
    display: block;
    width: calc(100vw);
    padding: 8px 15px;
    border: none;
    -webkit-appearance: none;
}

table {
    margin-left: -15px;
    padding-left: 15px;
    width: calc(100vw);
}

tr {
    background: white;
}

tr td {
    border: 1px solid #EFEFF4;
    padding: 0 15px;
    text-align: center;
    height: 40px;
    min-width: 40px
}

tr td:first-child {
    text-align: left;
}

tr.header-row {
    background: none;
}

tr.header-row>th {
    padding-left: 15px
}

tr.header-row th {
    /* text-align:center; */
}

tr.header-row th:first-child {
    text-align: left;
}

#actions tr {
    border: 1px solid #EFeFF4;
}

#actions td {
    border: none;
}


/* Toggle Switch */
input[type=radio] {
    opacity: 0;
}

input[type=radio]:checked {
    opacity: 1;
}

.switch {
    position: relative;
    display: inline-block;
    width: 56px;
    height: 30px;
    float: right;
    top: 4px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .2s;
    transition: .2s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked+.slider {
    background-color: #E6AE52;
}

input:focus+.slider {
    box-shadow: 0 0 1px #E6AE52;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/* Checkbox checkmark */

.checkbox input[type="checkbox"] {
    opacity: 0;
}

.checkbox label {
    position: relative;
    display: block;
    background:#fff;
    /*16px width of fake checkbox + 6px distance between fake checkbox and text*/
    height:40px;
    margin-left: -15px;
    padding-left:15px;
    line-height: 40px;
    border-bottom: 1px solid #EFEFF4;
    width:100vw;
    margin-top: -20px;
    margin-bottom: -2px;

}


.checkbox label::before,
.checkbox label::after {
    position: absolute;
    content: "";
    /*Needed for the line-height to take effect*/
    display: inline-block;
}

/*Outer box of the fake checkbox*/
.checkbox label::before{
    height: 16px;
    width: 16px;
    border: 1px solid;
    right: 0px;
    
    /*(24px line-height - 16px height of fake checkbox) / 2 - 1px for the border
     *to vertically center it.
     */
    top: 3px;
    opacity: 0;
}


/*Checkmark of the fake checkbox*/
.checkbox label::after {
    height: 10px;
    width: 20px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    
    transform: rotate(-45deg);
    right: 15px;
    top: 10px;
    border-color:#e6ae52
}

/*Hide the checkmark by default*/
.checkbox input[type="checkbox"] + label::after {
    content: none;
}

/*Unhide on the checked state*/
.checkbox input[type="checkbox"]:checked + label::after {
    content: "";
}

/*Adding focus styles on the outer-box of the fake checkbox*/
.checkbox input[type="checkbox"]:focus + label::before {
    outline: rgb(59, 153, 252) auto 5px;
}


.entry-container {
    background: white;
    margin-left: -15px;
    width: calc(100vw);
    padding-left: 15px;
    margin-top: 1px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.entry {
    background: #e6ae52;
    color: white;
    border-radius: 15px;
    font-size: 12px;
    display: inline-block;
    padding: 4px 8px;
    margin-right: 12px;
    height: 25px;
    border: thin solid #e6ae52;
}

a.entry-add {
    background: none;
    color: rgba(0, 0, 0, .3) !important;
    border: thin solid rgba(0, 0, 0, .3);

}

.entry .badge {
    background: #D31C5B;
    color: white;
    font-size: 10px;
    float: right;
    margin-right: -18px;
    margin-top: -10px;
    height: 18px;
    width: 18px;
    border-radius: 18px;
}

div.question-link {
    color: #D31C5B;
    padding: 5px 0px;
    display: block;
    text-decoration: none;
    font-size:14px;
}

.fa-arrow-up {
    color: green;

}

.fa-arrow-down {
    color: red;
}

.fa-check-circle {
    color: #D31C5B;
    font-size: 14px;
    vertical-align: middle;
}

#skills-no-survey, #skills-yes-survey {
    display: none;

}

#footer {
    display: block;
    padding-top: 50px;
    text-align: center;
    color: #8e8e93;

}

.search {
    height:50px;
    background: #ffffff;
    margin-left:-15px;
    width:100vw;
    padding-top:7px;
    margin-bottom:-1px;
    display: none;
}

.search textarea {
    height: 36px;
    background-color: #EFeFF4;
    display: block;
    width: calc(100vw - 20px);
    margin: auto;
    border-radius: 100px;
}

#add-entry-modal-container {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, .8);
    display: block;
    position: fixed;
    top:0;
    z-index: 20000;
    overflow: hidden;
    display:none;
}

#add-entry-modal {
    background:#ffffff;
    border-radius: 10px;
    text-align: center;
    vertical-align: middle;
    margin:auto;
    margin-top:calc(50vh - 100px);
    width: calc(100vw - 30px)
}

#add-entry-modal p {
    font-weight: 600;
    padding-top: 10px;
}

#add-entry-modal textarea {
    height: 36px;
    background-color: #EFeFF4;
    display: block;
    width: calc(100vw - 50px);
    margin: auto;
    border-radius: 5px;
}

#add-entry-modal button {
    color: #3F395a;
    padding: 10px;
    width: 45%;
    display:inline-block
}