@charset "utf-8";
/* CSS Document */

body {
	font-family: 'Lato', sans-serif;
	background: #f6f6f6 none repeat scroll 0% 0%
}
i.fa-circle {
	color: #ccc
}
i.fa-inverse {
	color:#333}
a i {transition: ease-in-out  0.1s;top:0;}
a:hover i {
		top:-8pt;
}
a:hover i.fa-inverse {color:#ccc;}
a:hover i.fa-circle {
	color: #333;
}

a:hover i.fa-inverse::after {
	color:#333;
	font-size:8pt;
	text-transform: uppercase;
	display:block;
	font-family: 'Roboto Condensed', sans-serif;
	margin-top:-1em;
	opacity:1;
	}

a:hover i.fa-envelope.fa-inverse::after {
	content:"Email Me";
	}
a:hover i.fa-twitter.fa-inverse::after {
	content:"Twitter"
}
a:hover i.fa-linkedin.fa-inverse::after {
	content:"LinkedIn"
}
a:hover i.fa-behance.fa-inverse::after {
	content:"Portfolio"
}
a:hover i.fa-file-pdf-o.fa-inverse::after {
	content:"Resume PDF"
}

.place {
	color: #777
}
.time {
	font-weight: 700;
	color: #777;
}
.org {
}
.title {
	font-weight: 700;
}
.time, .place {
	font-family: 'Roboto Condensed', sans-serif;
	text-transform: uppercase;
}
.org, .title {
	display: block;
}

#education {
	margin-top: 2em
}
#awards {
}
#social {
	margin: 1.5em auto;
}
#header {
	background: #ffffff;
	padding: 2em 0em;
	color:#666;
	/*transition: ease-in-out 0.2s;*/
	border-bottom: solid thin #ccc;
	text-align:center;
}
#header.fixed {
	padding: 0em 2em;
	text-align:left;
	box-shadow: #ccc 0px 0px 5px;
	/*transition: ease-in-out 0.2s;*/
	}
	
#header.fixed h1 {
	margin-bottom:0em;
	/*transition: ease-in-out 0.2s;*/
	letter-spacing:-1px;
	font-size:2.5em;
	
}

#header.fixed h1 .aqt {
	display:none;
	animation: fade-in-out 0.5s 1s 1 ease-in backwards;
	/*transition: ease-in-out 0.2s;*/
}

 @keyframes fade-in-out {
0% {
opacity:0;
}
100% {
opacity:1;
}
}


#tagline {
	/*transition: all 0.1s linear;*/
}

#tagline {
	margin:0 auto;
	text-align: center;
	display:block;
	}
	
#tagline a {
	padding: 0.2em 0.5em;
	margin: 0 2em;
	color:#888;
	transition: all 0.1s linear;
	border-bottom:#ff5050 solid 0px;
	padding-bottom:0.6em;
}

#tagline a:hover  {
	color: #333;
	border-bottom:#ff5050 solid 0.4em;
	padding-bottom:0.2em;
}

#tagline a.active {
	color: #333;
}

#header.fixed #tagline {
	position:absolute;
	right:1em;
	top:1em;
}

#header.fixed #tagline a {
	margin: 0 1em;
}

#hello{
	margin-bottom:1em;
}


.project {
	background:#fff;
	border-bottom: solid 0.1em #ff5050;
	padding: 1em 1em 0.8em 1em;
	border-radius:2px;
	box-shadow: #ccc 0 0 3px;
	transition:all ease 0.1s;
	}

.project:hover {
	margin-top:-5px;
	transition:all ease 0.1s;
	box-shadow: #999 0 5px 5px;
	border-bottom: solid #ff5050 5px;

}

#portfolio .project:hover .inline-list, .project:hover .summary {
	opacity:1;
	transition:all ease 0.5s;
}

.project img {
	margin:-1em -1em 0em -1em;
	min-width: calc(100% + 2em);
	}

.title {
	font-weight: 700;
	font-family:"Roboto Slab", serif;
	margin-bottom:0;
}

.summary {
	margin:0;
	padding:0;
	opacity:0;
}


#portfolio .inline-list {
	margin: 0.1em auto auto -0.5em;
	opacity:0
}

#portfolio .inline-list li {
	font-family: "Roboto Condensed", sans-serif;
	font-size:0.7rem;
	text-transform: uppercase;
	color:#666;
	margin: 0.5rem 0.5rem 0 0.5rem;
	
}

#footer {
	margin-top:2em;
	background: #ccc;
	padding: 0.1em 0 1.5em 0;
	border-top:#999 solid thin;
}
	

h1 {
	padding: 0;
	font-family: 'Slabo 27px', serif;
	color: #333;
	text-transform: uppercase;
	letter-spacing: 0.5em;
	transition: ease-in-out 0.2s;
	font-size:3em;
}

h1 a {
	color: #333;
}

h1 #q {
	color:#ff5050;
}

h1 a:hover {
	color: #333;
}

h1 a:hover #q {
	color: #ff5050;
}

h2 {
	text-transform: capitalize;
	color: #ff5050;
	font-family: 'Roboto Slab', serif;
	margin:0.8em 0 0.7em 0;
}

p {
	font-size:1.1rem;
	color:#555;
}

p a {
	color:#555;
	border-bottom:#ff5050 solid 0.1em;
	transition: all linear 0.1s;
}

p a:hover {
	color:#333;
	border-bottom:#ff5050 solid 0.3em;
	transition: all linear 0.1s;
}

.toggle {
	display: block;
	color: #777;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: smaller;
	text-transform: uppercase;
	padding: 0.5em 1em;
	font-weight: 700;
	position: absolute;
	right: 1em;
	background: #fff;
	border-radius: 10px 10px 0 0;
	-webkit-animation: slideUp 0.5s 1s 1 ease-in backwards;
	animation: slideUp 0.5s 1s 1 ease-in backwards;
}



.hidden {
	display: none
}


@media only screen and (min-width: 40.063em) {
#tagline i {display:none}
}

@media only screen and (max-width: 40.063em) {
.summary, #portfolio .inline-list {opacity:1}
#header.fixed {
	margin:0em;
}
#header {
	padding: 1em 0em;
}
#header.fixed {
	height:3em;
}
#logo .aqt {
	display:none;
}
#logo {
	font-size:2.5rem;
	letter-spacing:0;
}
#header.fixed #tagline {
	right:1em;
	top:0.6em;

}
#header.fixed  #tagline a {
	margin: 0 2em;
}
#header.fixed h1 {
	display:none;
}
#tagline i {display:inline-block; font-size:larger}
#tagline .link {display: none}}
